<html>
<head>
<title>TinyCoin</title>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/TinyCoin.js') }}"></script>
<LINK href="{{ url_for('static', filename='css/TinyCoin.css') }}" rel="stylesheet" type="text/css" />


</head>
<body>
<H1>TinyCoin</H1>
<hr/>Actions:<br/>
<input type=button value='View' class='ActionButton' onclick='javascript:onBlocksClick()' />
<input type=button value='Transaction' class='ActionButton' onclick='javascript:onTransactionClick()' />

<input type=button value='Submit' class='SubmitButton' onclick='javascript:onSubmitClick()' /><br/>
Parameters: <br/>
<div id='url' style="visibility: hidden" >/ping</div>
<textarea id='textInput' style='width:600px;height:50px'></textarea> <br/>
Output: <br/>
<textarea id='textOutput' style='width:600px;height:150px'></textarea> <br/>
<br/>
<br/>
Hu, Ying-Hao (<a href='mailto:hyinghao@hotmail.com'>hyinghao@hotmail.com</a>)
</body>
</html>